.login-form {
    max-width: 300px;
    margin-top: 20px;
}

.login-form-forgot {
    float: right;
}

.login-background {
    background-image: url('../../../assets/fondo1.jpg');
    background-size: cover;
    display: flex;
}

.login-cover {
    background-color: black;
    opacity: 0.6;
    width: 100%;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.login-aside {
    max-width: 400px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    justify-content: center;
}

@media (max-width: 500px) {
    .login-aside {
        width: 100%;
        max-width: 100%;
    }
    .login-background{
        display: inline;
    }
    .login-cover{
        display: none;
    }
}