.login-form {
    max-width: 300px;
    margin-top: 20px;
}

.login-form-forgot {
    float: right;
}

.login-background {
    background-image: url('../../../assets/fondo1.jpg');
    background-size: cover;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-cover {
    background-color: black;
    opacity: 0.6;
    width: 100%;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.login-aside {
    max-width: 400px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
    justify-content: center;
}

.login-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 400px;
    height: 280px;
    padding: 10px 20px 0px 20px;
    background-color: white;
}

@media (max-width: 500px) {
    .login-aside {
        width: 100hw;
        max-width: 100%;
    }
    .login-background{
        display: inline;
    }
    .login-cover{
        display: none;
    }
}